
<center><h1><strong>Password List</strong></h1></center>

<div class="container" class="form-signin">
<div class="row">

  <div class="col-md-8">.col-md-8</div>
  <div class="col-md-4">.col-md-4</div>
</div>
<div class="row">
  <div class="col-md-8" >.col-md-8</div>
  <div class="col-md-4">.col-md-4</div>
</div>
<div class="row">
  <div class="col-md-8" >.col-md-8</div>
  <div class="col-md-4" >.col-md-4</div>
</div>
<div class="row">
  <div class="col-md-8">.col-md-8</div>
  <div class="col-md-4">.col-md-4</div>
</div>
</div>
 <button class="btn btn-lg btn-primary btn-block" type="submit">New Password</button>

