
<div class="container">
    <div class="row">
        <form role="form" class="form-signin">
            <div class="col-lg-6">
                <h1 class="form-signin-heading" align="center">welcome</h1>
               
                <div class="form-group">
                    <label for="InputEmail">domain/url</label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="InputUrl" name="InputUrl"  required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputName">UserName</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="InputName" id="InputName"  required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
              <div class="form-group">
                    <label for="InputName">Password</label>
                    <div class="input-group">
                        <input type="password" class="form-control" name="InputPassword" id="InputPassword"  required>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
				<div class="form-group">
                    <label for="InputName">PhoneNo</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="InputPhoneno" id="InputPhoneno">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
             </div>
 <button class="btn btn-lg btn-primary btn-block" type="submit">save</button>
         
            </div>
        </form>
        </div>
    </div>
</div>
